<h2> <%= @user.name %>, you are trying to survive in a <%= @disaster.name %></h2>

<h3> Day <%= @counter %> </h3>

<% if @user.alive == false %>
  <h2>You died on day <%= @counter %> </h2>
<% end %>

<% if @user.alive %>
  <label for="new_user">Play out a day:</label>
  <form name="new_user" action="/users/<%=@user.id%>/disasters/<%=@disaster.id%>/<%=@counter%>" method="post">
    <button class="btn btn-primary" type="submit">Go!</button>
    <% if @multiple_choice %>
    <div class="row">
      <div class=" col-xs-6 col-xs-offset-3">
        <h3><%= @scenario %></h3>
        <ul class=" list-group">
          <% @multiple_choice.each_with_index() do |option, index| %>
            <li class="list-group-item">
              <div class="radio">
                <label><input type="radio" name="choice_radio" value="<%= index + 1 %>" required><%= option %></label>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
  </form>
<% end %>

<% if @message_arry %>
  <ul class="list-group">
  <% @message_arry.each do |message| %>
    <li class="disasterBckgrnd list-group-item"><%= message %></li>
  <% end %>
  </ul>
<% end %>

<hr>

<div class="row">
  <div class="col-xs-3">
    <ul class="list-group">
      <li class="disasterBckgrnd list-group-item">Food Count: <%= @user.food_count %></li>
      <li class="disasterBckgrnd list-group-item">Water Count: <%= @user.water_count %></li>
      <li class="disasterBckgrnd list-group-item">Medicine Count: <%= @user.medicine_count %></li>
      <li class="disasterBckgrnd list-group-item">Protection Count: <%= @user.protection_count %></li>
    </ul>
  </div>
  <div class="col-xs-5">
    <% if @special_items.length != 0 %>
      <ul class="list-group">
        <% @special_items.each do |item| %>
          <li class="list-group-item"><%= item.name %></li>
        <% end %>
      </ul>
    <% else %>
      <h4>WARNING: You did not purchase any special items to help you survive the <%= @disaster.name %> Disaster</h4>
    <% end %>
  </div>


</div>

<hr>

<a class = "btn btn-primary" href="/users/<%=@user.id%>">Back to Store</a>
