<h2> <%= @user.name %>, you are trying to survive in a <%= @disaster.name %></h2>
<h3> Day <%= @counter %> </h3>

<label for="new_user">Play out a day:</label>
<form name="new_user" action="/users/<%=@user.id%>/disasters/<%=@disaster.id%>/<%=@counter%>" method="post">
  <button class="btn btn-primary" type="submit">Go!</button>
</form>

<% if @message_arry %>
  <ul class="list-group">
  <% @message_arry.each do |message| %>
    <li class="list-group-item"><%= message %></li>
  <% end %>
  </ul>
<% end %>


<% if @user.alive == false %>
  <h2>You died on day <%= @counter %> </h2>
<% end %>
