<div class="container row">
  <div class="col-xs-12">
<h1><%= @user.name %> </h1>
<hr>
<h4> Money to spend: $<%= @user.money %> </h4>
<h4>You are most lacking :
  <% if @bottleneck != [] %>
    <% @bottleneck.each do |bottleneck| %>
    <%= bottleneck %>
    <% end %>
  <% else %>
    Everything.
  <% end %>
</h4>
  </div>
</div>

<div class="container row">
  <div class="col-xs-6">
    <h2>Current Items:</h2>
      <% if @inventory %>
        <% @inventory.order("id DESC").each do |item| %>
          <div class="well row">
            <div class="col-xs-6">
              <h4><%= item.name %> - <%= item.cost %> - <%= item.item_type %> - <%= item.value %></h4>
            </div>
            <div class="col-xs-6">
              <% if item.incrementable == true %>
                <div class="well">
                  <form class="" action="/users/<%= @user.id %>/resources/<%= item.id %>/increment" method="post">
                    <input name="_method" type="hidden" value="patch">
                    <button class="btn btn-sm" type="submit" value="up" id="up_button">
                      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    </button>
                  </form>
                  <form class="" action="/users/<%= @user.id %>/resources/<%= item.id %>/decrement" method="post">
                    <input name="_method" type="hidden" value="patch">
                    <button class="btn btn-sm" type="submit" id="down_button">
                      <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    </button>
                  </form>
                  <% amount =  Amount.find_by(user_id: @user.id, resource_id: item.id) %>
                  <% if amount %>
                    <h4> Quantity: <%= amount.quantity %> </h4>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
  <div class="col-xs-6">
    <h2>Available Items:</h2>
    <% if @resources %>
      <% @resources.order("id DESC").each do |resource| %>
        <div class="well">
          <h4><%= resource.name %> - <%= resource.cost %> - <%= resource.unit %></h4>
          <p><%= resource.blurb %></p>
          <form class="" action="/users/<%= @user.id %>/resources/<%= resource.id %>" method="post">
            <input name="_method" type="hidden" value="delete">
            <button class="btn btn-danger btn-sm" type="submit">Delete</button>
          </form>
          <form class='' action="/users/<%= @user.id %>/resources/<%=resource.id%>" method="post">
            <button class="btn btn-primary btn-sm" type="submit">Buy</button>
          </form>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<hr>
<a href="/" class="btn btn-default active" role="button">Home</a>
