<div class="container row">
  <div class="col-xs-12">
<h1><%= @user.name %> </h1>

<h3>Your current resources:</h3>

<h4> Money: $<%= @user.money %> </h4>


  </div>
</div>

<div class="container row">
  <div class="col-xs-6">
    <h2>Current Items:</h2>
      <% if @inventory %>
        <% @inventory.each do |item| %>
          <div class="well row">
            <div class="col-xs-6">
              <h4><%= item.name %> - <%= item.cost %></h4>
            </div>
            <div class="col-xs-6">
              <div class="well">
                <% if item.incrementable == true %>
                  <form class="" action="user/<%= @user.id %>/resource/<%= item.id %>/increment" method="post">
                    <button class="btn btn-sm" type="submit"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button>
                  </form>
                  <form class="" action="user/<%= @user.id %>/resource/<%= item.id %>/increment" method="post">
                    <button class="btn btn-sm" type="submit"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></button>
                  </form>
                  <%= item.amounts.quantity %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>

<div class="container row">
  <div class="col-xs-6">
    <h2>Available Items:</h2>
    <% if @inventory %>
      <% @inventory.each do |item| %>
        <div class="well">
          <h4><%= item.name %> - <%= item.cost %> - <%= item.type %></h4>
          <form class="" action="/users/<%= @user.id %>/resources/<%= item.id %>" method="post">
            <input name="_method" type="hidden" value="delete">
            <button class="btn btn-danger btn-sm" type="submit">Delete</button>
          </form>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<hr>
<a href="/" class="btn btn-default active" role="button">Home</a>
