<div class="container row">
  <div class="col-xs-12">


<h1><%= @user.name %> </h1>
<hr>
<h4> Money to spend: $<%= @user.money %> </h4>
<h4>You are
  <% if @bottleneck != [] %>
    most lacking : <% @bottleneck.each do |bottleneck| %>
    | <%= bottleneck %> |
    <% end %>
  <% else %>
    not lacking any particular resource.
  <% end %>
</h4>

<ul class="list-group"><h3>Try your luck in a </h3>
  <% @disasters.each do |disaster| %>
    <li class="list-group-item"> <a href="/users/<%=@user.id%>/disasters/<%=disaster.id%>"> <%= disaster.name %> </a>
  <% end %>

  </div>
</div>

<div class="container row">
  <div class="col-xs-6">
    <h2>Current Items:</h2>
      <% if @inventory %>
      <ul>
        <% @inventory.order("id DESC").each do |item| %>
        <li>
          <div class="well row">
            <div class="col-xs-8">
              <h4><%= item.name %> - <%= item.cost %> - <%= item.item_type %> - <%= item.value %></h4>
            </div>
            <div class="col-xs-2">
                <div class="">
              <% if item.incrementable == true %>
                  <form class="" action="/users/<%= @user.id %>/resources/<%= item.id %>/increment" method="post">
                    <input name="_method" type="hidden" value="patch">
                    <button class="btn btn-sm form-group" type="submit" value="up" id="up_button">
                      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    </button>
                  </form>
                  <form class="" action="/users/<%= @user.id %>/resources/<%= item.id %>/decrement" method="post">
                    <input name="_method" type="hidden" value="patch">
                    <button class="btn btn-sm" type="submit" id="down_button">
                      <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    </button>
                  </form>
                </div>
              <% else %>
                <div class="well">
                  <form class="" action="/users/<%= @user.id %>/resources/<%= item.id %>/remove" method="post">
                    <input name="_method" type="hidden" value="patch">
                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                  </form>
                </div>
              <% end %>
            </div>
            <div class="col-xs-2 item_number">
              <% amount =  Amount.find_by(user_id: @user.id, resource_id: item.id) %>
              <% if amount %>
                <h1 class="pull-right quantity"> <%= amount.quantity %> </h1>
              <% end %>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
      <% end %>
  </div>
  <div class="col-xs-6">
    <h2>Available Items:</h2>
    <% if @resources %>
      <% @resources.each do |resource| %>
        <div class="well row">
          <div class="col-xs-9">
            <h4><%= resource.name %> - <%= resource.cost %> - <%= resource.unit %></h4>
            <p><%= resource.blurb %></p>
          </div>
          <div class="col-xs-3">
            <form class='' action="/users/<%= @user.id %>/resources/<%=resource.id%>" method="post">
              <button class="btn btn-primary pull-right" type="submit">Buy</button>
            </form>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<hr>
<a href="/" class="btn btn-default active" role="button">Home</a>
